.row_1 {
    background-color: dodgerblue;
    text-align: center;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;

 }
 
 .search_bar {
    font-size: 40px;
    text-decoration-color: aliceblue;
 
 }

 .row_term {
    padding: 30px;
    margin: 3px;
 }
 
 .search_p {
    background-color: dimgray;
    padding: 30px;
 
 }
 
 #input {
    width: 700px;
 }