row_1{
    background-color: dodgerblue;
    text-align: center;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
 }
 
 .search_bar{
    font-size: 50px;
    text-decoration-color: aliceblue;
 }
 
 .form{
    display:
 }